__pycache__/
*.pyc

.ipynb_checkpoints/

.DS_Store

*.log

.vscode/
.idea/

.env

# Large generated datasets
data/generation/raw/
data/generation/processed/

# Optional: large model checkpoints
# models/vae/*.pt